<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}} <a href="https://github.com/yogikatba/node-weather-website" target="_blank">GitHub</a> profile.</p>
    </div>
    
    {{>footer}}
</body>
</html>